**Задание 1**. Дан список с визитами по городам и странам. 
Напишите код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России.

In [2]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit6': ['Лиссабон', 'Португалия']},
    {'visit7': ['Тула', 'Россия']},
    {'visit8': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']}
]

In [6]:
[geo for geo in geo_logs if list(geo.values())[0][1] == 'Россия']

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit8': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

**Задание 2**. Выведите на экран все уникальные гео-ID из значений словаря ids. Т. е. список вида [213, 15, 54, 119, 98, 35]

In [7]:
ids = {'user1': [213, 213, 213, 15, 213], 
       'user2': [54, 54, 119, 119, 119], 
       'user3': [213, 98, 98, 35]}

In [8]:
list(set(x for i in ids.values() for x in i))

[98, 35, 15, 213, 54, 119]

**Задание 3**. Дан список поисковых запросов. Получить распределение количества слов в них. 
Т. е. поисковых запросов из одного - слова 5%, из двух - 7%, из трех - 3% и т.д.

In [9]:
queries = [
    'смотреть сериалы онлайн',
    'новости спорта',
    'афиша кино',
    'курс доллара',
    'сериалы этим летом',
    'курс по питону',
    'сериалы про спорт',
]

In [13]:
for words in queries:
    for oneword in words:
        print(len((words.split(" ")))/len(queries)*100)
        break

42.857142857142854
28.57142857142857
28.57142857142857
28.57142857142857
42.857142857142854
42.857142857142854
42.857142857142854

**Задание 4**. Дана статистика рекламных каналов по объемам продаж. Напишите скрипт, который возвращает название канала с максимальным объемом.
Т. е. в данном примере скрипт должен возвращать 'yandex'.

In [15]:
stats = {'facebook': 55, 'yandex': 120, 'vk': 115, 'google': 99, 'email': 42, 'ok': 98}

In [17]:
max(buy for buy in stats.values())[]

'yandex'

**Задание 5**. Напишите код для преобразования произвольного списка вида ['2018-01-01', 'yandex', 'cpc', 100] (он может быть любой длины) в словарь {'2018-01-01': {'yandex': {'cpc': 100}}}

In [23]:
srs = ['2018-01-01', 'yandex', 'cpc', 100, '2020-09-17', 'apple', 'cpc', 1000]
count = len(srs)
i = 0
dictionary = {}
while (count != 0):
    temp[i] = {srs[count - 4]:{srs[count - 3]:{srs[count - 2]:srs[count - 1]}}}
    dictionary.update(temp[i])
    count -= 4
    i += 1
dictionary

{'2020-09-17': {'apple': {'cpc': 1000}},
 '2018-01-01': {'yandex': {'cpc': 100}}}

**Задание 6.** Минимум две задачи из лабораторной работы № 1 на списки реализовать через list compreshin. Задачи на строки так же решаются в одну команду, тминимум

In [25]:
#Посчитайте, сколько в строке символов, исключая пробелы:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"
len([i for i in string_01.split() if i != "-"])

45

In [28]:
#Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]
sum([ch for ch in list_01 if (((10<ch) and (ch<=100)) or ((200 <ch) and (ch  <= 500)))])

1291

In [29]:
#Выведите результат сложения всех элементов матрицы.
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]
sum([sum(u) for u in matrix])

89